body {
   /* background-image: url("https://cdn.pbrd.co/images/154yxl92.jpg"); */
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: contain;
   position: center;
   margin-top: 20px;
   background-color: #393f4d;
   color: #CCFFFF;
   text-align: center;
 }
.info {
 text-align: left
}
.about h1 {
  text-align: left;
  font-size: 30pt;
  font-family:times;
  margin-bottom: 5px;
  text-decoration: bold;
  color: #9fc7c7;
}
.about p {
  text-align: left;
}
.about img {
  float: right;
}
th {
  text-align: center
}
a {
  color: #CC6633
}
.header {
  overflow: hidden;
  /* background-image: ; */
  background-color: #d4d4dc;
  padding: 20px 10px;
}
.header h1 {
  color: #302d2d;
  float: left;
  font-size: 50px;
  font-weight: bold;
}
.header a {
  float: left;
  background-color: #1d1e22;
  color: #d4d4dc;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color: #3e404a;
  color: #d4d4dc;
}
.header a.current {
  background-color: #2c4d7a;
  color: #d4d4dc;
}
.header a.current:hover {
  background-color: #3b69a8;
  color: #d4d4dc;
}
.header-right {
  float: right;
}
.footer {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  /* background-image: ; */
  background-color: #c9c1c1;
  padding: 20px 10px;
}
.footer a {
  color: black;
}
a.email {
  color: #CC6633
}
th {
  padding: 3px;
}
td {
}
h2 {
  color: #00CCFF
}
h3 {
  text-align: left;
  color: #FF0000
}
/* table#fish>tr,td,th {
  border: 1px solid black;
} */
table.links {
  width:100%;
  position: center;
  text-align: center;
  border: none;
  max-width: 950px
}
table.links  th {
border: none
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header h1 {
    font-size: 25px;
}
.info {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}
