body {
   background-image:url("https://cdn.pbrd.co/images/154yxl92.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: contain;
   position: center;
   margin-top: 20px;
   background-color: #0099FF;
   color: #CCFFFF;
   text-align: center;
 }
.info {
 text-align: left
}
h1 {
  text-align: left;
  font-size: 50pt;
  color: #00FF00;
  font-family:times;
  margin-bottom: 5px;
  text-decoration: bold;
}
th {
  text-align: center
}
a {
  color: #CC6633
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}
th {
  padding: 3px;
}
td {
}
h2 {
  color: #00CCFF
}
h3 {
  text-align: left;
  color: #FF0000
}
table#fish>tr,td,th {
  border: 1px solid black;
}
table.links {
  width:100%;
  position: center;
  text-align: center;
  border: none;
  max-width: 950px
}
table.links  th {
border: none
}
